# --- ENVIRONNEMENT & CONFIG ---
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environments
env/
venv/
ENV/
.venv/

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log

# IDE stuff
.vscode/
.idea/
